{% extends "base.html" %}

{% block head %}
{{ super() }}
    <title>{% block windowtitle %}{{ SITENAME }} - {{ page.title }}{% endblock %}</title>
{% endblock %}
{% block content %}

<section id="content" class="body" lang="{{ page.lang }}">
    <h2 class="content-title">{{ page.title }}</h2>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}


    {% if PDF_PROCESSOR %}<a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">get the pdf</a>{% endif %}
	{{ page.content }}
</section>

{% endblock %}
